.work
*.dSYM/
.vscode
vgscpu.o
tp_stack_a
tp_stack_b
tp_stack_c
tp_stack_d
tp_ldst_a
tp_ldst_b
tp_ldst_c
tp_ldst_d
tp_inc
tp_dec
tp_not
tp_jmp
tp_jz_jnz
tp_sh
tp_load_program
tp_add_a
tp_add_b
tp_sub_a
tp_sub_b
tp_mul_a
tp_mul_b
tp_div_a
tp_div_b
tp_mod_a
tp_mod_b
tp_and_a
tp_or_a
tp_xor_a
tp_cmp_a
tp_cmp2_a

